.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main label, .main div, .main span {
  padding: 20px;
}

.main button {
  margin: 20px;
}

.failure {
  color: red;
}

.success {
  color: green;
}