.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.group {
  margin: 20px;
}

.group.column {
  display: flex;
  flex-direction: column;
}

.main button {
  margin: 20px;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.subchoice {
  text-align: center;
}

.subchoice label {
  margin-left: 5px;
  margin-right: 20px;
}
